/*@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
/* ~~~~~~~~~~~~~~~~ */
/* headers */
/* ~~~~~~~~~~~~~~~~ */

header {
  font-family: 'Gruppo';
  color: #6D6466;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

h1 {
  font-family: 'Gruppo';
  font-size: 60px;
  color: #6D6466;
  text-align: center;
  margin-bottom: 0px;
 
}

h2 {
  font-family: 'Gruppo';
  font-size: 20px;
  color: #6D6466;
}

/* ~~~~~~~~~~~~~~~~ */
/* body */
/* ~~~~~~~~~~~~~~~~ */

body {
  background-color: #F8F4E3;
  /*background-color: rgb(151, 192, 250);*/
  /*color: rgb(225, 246, 255);*/
  font-family: 'Gruppo';
  color: #6D6466;
  margin: 0 auto;
}

section {
  font-family: 'Gruppo';
  color: #6D6466;
  margin: 0 auto;
}

nav {
  float: left;
  text-align: center;
  background-color: rgb(94, 87, 69); 
  width: 125px;
  border: 3px solid rgb(255, 246, 255);
  border-radius: 10px;
}

main {
  font-family: 'Gruppo';
  color: #6D6466;
  margin-left: 165px;
}

main h2 {
  font-family: 'Gruppo';
  color: #6D6466;
}

body {
  font-family: 'Gruppo';
  color: #6D6466;
  width: 80%;
  min-width: 500px;
  max-width: 960px;
}

nav li {
  /*font-family: 'Architects Daughter';*/
  font-family: 'Gruppo';
  color: #6D6466;
  font-size: 20px;
  background-color: rgb(198, 190, 170);
  color: rgb(225, 246, 255);
  border: 3px solid rgb(255, 246, 255);
  border-radius: 5px;

  width: 100px;
  height: 40px;
  margin: 10px auto;
  text-align: center;
  padding: 20px 0px;

  list-style: none;
  left: -30px;
  position: relative;
}

nav a {
  text-decoration: none;
}

.selectedPage {
  font-family: 'Gruppo';
  color: #6D6466;
  border-color: rgb(255, 246, 255);
  color: rgb(225, 246, 255);
  background-color: #F8F4E3;
}
