/* ~~~~~~~~~~~~~~~~ */
/* headers */
/* ~~~~~~~~~~~~~~~~ */

header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

h1 {
  font-family: 'Architects Daughter';
  font-size: 80px;
  text-align: center;
  margin-bottom: 0px;
 
}

h2 {
  font-size: 20px;
}

/* ~~~~~~~~~~~~~~~~ */
/* body */
/* ~~~~~~~~~~~~~~~~ */

body {
  background-color: rgb(151, 192, 250);
  color: rgb(225, 246, 255);
  font-family: 'Architects Daughter';
  margin: 0 auto;
}

section {
  margin: 0 auto;
}

nav {
  float: left;
  text-align: center;
  background-color: rgb(94, 87, 69); 
  width: 125px;
  border: 3px solid rgb(255, 246, 255);
  border-radius: 10px;
}

main {
  margin-left: 165px;
}

body {
  width: 80%;
  min-width: 500px;
  max-width: 960px;
}

nav li {
  font-family: 'Architects Daughter';
  font-size: 20px;
  background-color: rgb(198, 190, 170);
  color: rgb(225, 246, 255);
  border: 3px solid rgb(255, 246, 255);
  border-radius: 5px;

  width: 100px;
  height: 40px;
  margin: 10px auto;
  text-align: center;
  padding: 20px 0px;
}

nav a {
  text-decoration: none;
}

.selectedPage {
  border-color: (255, 246, 255);
  color: rgb(225, 246, 255);
  background-color: rgb(151, 192, 250);
}
